/*Full page*/
body{
    background-color: rgb(255, 255, 255);
    text-align: left;
    }

/*Gray Background*/
.Bg-background{
    background-color: rgb(208, 208, 208);
    margin-left: 100px;
    margin-right: 200px;
    padding-left: 10px;
    border:3px black , double;
    margin-top: 50px;
}

.imageright{
    float: right ;
    margin-right:10px;
    margin-top: -40px;
}

.imagetext{
    text-align: left;
    font-size: 1.2rem ;
    line-height: 20px;
}

/*Class used to display normal body text*/
.text-body{
    font-size: 1.2rem;
    line-height: 25px;
    font-weight: normal;
}

/*Highest Heading*/
h1,h2{
    color:rgb(0, 0, 0); margin-left: 0px; 
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration:underline; text-decoration-color: rgb(0, 0, 0);
    font-size: 1.9rem;
    }

/*Sub Heading*/
h3{
    font-size: 1.7rem;
}

/*Subber Heading :D*/
h4,h5,h6{
    font-size: 1.2rem;
    
}

/*Draws Seperation Line*/
.line{
    border-style: double; color: rgb(0, 0, 0);
} 

/*Normal Text*/
pre,label,p{
    font-size: 0.95rem;
    line-height: 20px;
    letter-spacing: 0.3px;
    font-family: cursive;
}
em{
    color: rgb(56, 56, 56);
}
